{% extends "template.html" %}

{% block content %}
<div class="game-menu">
</div>
<div class="container">
    <table class="rwd-table">
    <tbody>
      <tr>
        <th>Agent</th>
        <th>Description</th>
      </tr>
      {% for agent in agents %}
      <tr>
        <td data-th="name">
          <a href=/games/{{ game_id }}/{{ game_type }}/{{ agent }}>{{ agent }}</a>
        </td>
        <td data-th="description">
          {{ description_dict }}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}