{% extends "template.html" %}

{% block content %}
<div class="game-menu">
    {% for game in games %}

    {% endfor %}
</div>
<div class="container">
    <table class="rwd-table">
    <tbody>
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
      {% for game in games %}
      <tr>
        <td data-th="name">
          <a href=/games/{{ game_id }}/{{ game }}>{{ game }}</a>
        </td>
        <td data-th="description">
          {{ game }}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}