{% extends "template.html" %}

{% block content %}
<div class="cards-list">
    {% for key in cards %}
        <a href="games/{{ key }}"; style="text-decoration: none;">
        <div class="card 1" id={{ key }}>

          <div class="card_image">
             <img src="static/images/{{ key }}.jpg" >
          </div>

          <div class="card_title title-white">
            <p><span>{{ cards[key] }}</span></p>
          </div>
        </div>
        </a>
    {% endfor %}
</div>
{% endblock %}

